@layer components {
    .msg-error {
        background-color: #fef2f2;
        color: #dc2626;
        border-radius: 0.5rem;
        font-weight: 500;
        border: 1px solid #fecaca;
        padding: 0.75rem;
    }
    html.dark .msg-error {
        background-color: rgba(127, 29, 29, 0.3);
        color: #f87171;
        border-color: #991b1b;
    }

    .msg-success {
        background-color: #f0fdf4;
        color: #16a34a;
        border-radius: 0.5rem;
        font-weight: 500;
        border: 1px solid #bbf7d0;
        padding: 0.75rem;
    }
    html.dark .msg-success {
        background-color: rgba(21, 128, 61, 0.3);
        color: #4ade80;
        border-color: #166534;
    }
}
